RESET PRZEGLĄDARKI
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif; */
  /* font-family: var(--font-main); */
}

/* ROOT REACTA */
#root {
  width: 100%;
  height: 100%;
}
/* :root {
  --font-main: 'Lato', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
} */

/* TRYB CIEMNY */
.page.dark {
  min-height: 100vh;
  background: radial-gradient(
    circle at top,
    #0b1530 0%,
    #050a1a 60%,
    #030711 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

/* KARTA */
.card {
  background: #10182a;
  color: #e6e9f0;
  border-radius: 14px;
  padding: 24px;
  width: 420px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.55);
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin: 12px 0;
  font-size: 15px;
}

/* PRZYCISKI */
.actions {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

/* GŁÓWNY PRZYCISK */
button.primary {
  background: #facc15; /* ŻÓŁTY */
  color: #111827;
}

/* DRUGI PRZYCISK */
button.secondary {
  background: #1f2937;
  color: #e5e7eb;
}

/* TOGGLE LIGHT/DARK */
.theme-toggle {
  background: #facc15;
  color: #111827;
  border-radius: 999px;
  padding: 6px 14px;
  font-size: 13px;
}
